.transition (@transition) {
  -webkit-transition: @transition;
  -moz-transition: @transition;
  -ms-transition: @transition;
  -o-transition: @transition;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

html, body, .container, #angular-views-entry {
  height: 100%;
}

.container {
  display: table;
  width: 100%;
  margin-left:0px;
  margin-top: -50px;
  padding-top: 50px;
  padding-left:0px;
  padding-right:0px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  background: #f0f0f0;
  height: 50px;
}

.row {
  height: 100%;
  display: table-row;
}

.col-md-4.no-float {
  float: none; /* thanks baxabbit */
}

.col-md-4 {
  display: table-cell;
  background: #eeeeee;
  border:1px solid #aaaaaa;
  width: 33%;
  padding:0px;
}


/* jssor slider bullet navigator skin 01 css */
/*
.jssorb01 div           (normal)
.jssorb01 div:hover     (normal mouseover)
.jssorb01 .av           (active)
.jssorb01 .av:hover     (active mouseover)
.jssorb01 .dn           (mousedown)
*/
.jssorb01 {
  position: absolute;
}
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
  position: absolute;
  /* size of bullet elment */
  width: 12px;
  height: 12px;
  filter: alpha(opacity=70);
  opacity: .7;
  overflow: hidden;
  cursor: pointer;
  border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

/* jssor slider arrow navigator skin 10 css */
/*
.jssora10l              (normal)
.jssora10r              (normal)
.jssora10l:hover        (normal mouseover)
.jssora10r:hover        (normal mouseover)
.jssora10ldn            (mousedown)
.jssora10rdn            (mousedown)
*/
.jssora10l, .jssora10r, .jssora10ldn, .jssora10rdn {
  position: absolute;
  cursor: pointer;
  display: block;
  background: url(../bower_components/jssor-slider/img/a10.png) no-repeat;
  overflow: hidden;
}

.jssora10l {
  background-position: -16px -39px;
}

.jssora10r {
  background-position: -76px -39px;
}

.jssora10l:hover {
  background-position: -136px -39px;
}

.jssora10r:hover {
  background-position: -196px -39px;
}

.jssora10ldn {
  background-position: -256px -39px;
}

.jssora10rdn {
  background-position: -316px -39px;
}

//----------- Graph view -------------



.link {
  stroke: #aaaaaa;
  stroke-width: 1px;
}

.node {
  fill: #ccc;
  stroke: #555555;
  stroke-width: 1px;
}

.node.fixed {
  fill: #f00;
}


#treeContainer {
  border:1px solid #00aa00;
}

h3 {
  padding-top:0px;
  margin-top:0px;
}

.node text {
  pointer-events: none;
  fill: #550000;
  stroke-width: 0px;
}

// ------------
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;
@icon-font-path: '../../bower_components/bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 250px;

  img.pull-right {
    width: 50px;
  }
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector
