<header>
    Concept-Centric View
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4 no-float">

            <div class="slides-container" style="position: relative; top: 0px; left: 0px; width: 600px; height: 300px;">
                <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 600px; height: 300px;">
                    <div ng-repeat='def in dataContainer.definitions' enable-jssor jssor-options="sliderWithArrowOptions" jssor-trigger="{{$last}}">
                        {{def}}
                    </div>
                </div>
                <!-- Bullet Navigator -->
                <div data-u="navigator" class="jssorb01" style="bottom:16px;right:10px;">
                    <div data-u="prototype" style="width:12px;height:12px;"></div>
                </div>
                <!-- Arrow Navigator -->
                <span u="arrowleft" class="jssora10l" style="width: 28px; height: 40px; top: 123px; left: 8px;"></span>
                <span u="arrowright" class="jssora10r" style="width: 28px; height: 40px; top: 123px; right: 8px"></span>
            </div>


        </div>
        <div class="col-md-4 no-float">
            <nvd3-line-chart
                    data="exampleData"
                    showXAxis="true"
                    showYAxis="true"
                    tooltips="true"
                    interactive="true">
            </nvd3-line-chart>
        </div>
        <div class="col-md-4 no-float">


            <wordcloud
                    words="words"
                    on-click="myOnClickFunction(element)"
                    on-hover="myOnHoverFunction(element)">
            </wordcloud>


        </div>
    </div>
</div>
