<header>
    dsda
</header>

<div class="container">
    <div class="row">
        <div class="col-md-4 no-float">Left conlumn</div>
        <div class="col-md-4 no-float">
            <nvd3-line-chart
                    data="exampleData"
                    showXAxis="true"
                    showYAxis="true"
                    tooltips="true"
                    interactive="true">
            </nvd3-line-chart>
        </div>
        <div class="col-md-4 no-float">Right column</div>
    </div>
</div>
