<div class="container">

  <!--NavBar-->
  <div>
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-home"></span> Concept Viewer
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#/">Search</a></li>
            <li><a ng-href="#">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right acme-navbar-text">
            <li>Application was created {{ vm.relativeDate }}.</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>Definitions</h3>
          <div ng-repeat='def in dataContainer.definitions' enable-jssor jssor-options="sliderWithArrowOptions"
               jssor-trigger="{{$last}}">
            {{def}}
          </div>
        </div>
      </div>
      <!-- Bullet Navigator -->
      <div data-u="navigator" class="jssorb01" style="bottom:16px;right:10px;">
        <div data-u="prototype" style="width:12px;height:12px;"></div>
      </div>
      <!-- Arrow Navigator -->
      <span u="arrowleft" class="jssora10l" style="width: 28px; height: 40px; top: 123px; left: 8px;"></span>
      <span u="arrowright" class="jssora10r" style="width: 28px; height: 40px; top: 123px; right: 8px"></span>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>Synonyms</h3>
          <div ng-if="dataContainer.synonyms.length > 0">

            <wordcloud
                words="dataContainer.synonyms"
                on-click="onClickWord(element)"
                on-hover="onHoverWord(element)">
            </wordcloud>

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>Images</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div style="height:700px" class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>Knowledge Graph</h3>
          <div id="treeContainerFinal" ccv-tree="true" ng-if="dataContainer.term != null"
               style="border:2px solid red; height:50%"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>Images</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>Images</h3>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <nvd3-line-chart
              data="exampleData"
              showXAxis="true"
              showYAxis="true"
              tooltips="true"
              interactive="true">
          </nvd3-line-chart>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>