<div class="container">

  <!--<div>-->
  <!--<acme-navbar creation-date="This is an example"></acme-navbar>-->
  <!--</div>-->

  <div>
    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" ng-href="/#/">
            <span class="glyphicon glyphicon-home"></span> Concept Viewer
          </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li class="active"><a ng-href="#">Search</a></li>
            <li><a ng-href="#">About</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right acme-navbar-text">
            <li>Application was created {{ vm.relativeDate }}.</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="jumbotron text-center">
    <h1>Search for it!</h1>

    <p class="lead">
      <!--<img src="assets/images/yeoman.png" alt="I'm Yeoman"><br>-->
      Always a pleasure aggregating information for you
    </p>

    <div ng-controller="SearchController">
      <h4>Give me a term</h4>

      <form ng-submit="search()">
        <input class="form-control" required ng-model="query" style="width:30%; margin-left:auto; margin-right:auto;"/><br/>
        <button type="button" class="btn btn-primary" ng-click="search()"><span>Search</span>
        </button>
      </form>
    </div>
  </div>
  <!--<p>-->
  <!--With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>-->
  <!--</p>-->

  <!--<div class="row">-->
    <!--<div class="col-sm-6 col-md-4">-->
      <!--&lt;!&ndash;<div class="thumbnail">&ndash;&gt;-->
      <!--&lt;!&ndash;<img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="title">&ndash;&gt;-->
      <!--&lt;!&ndash;<div class="caption">&ndash;&gt;-->
      <!--&lt;!&ndash;<h3>title</h3>&ndash;&gt;-->
      <!--&lt;!&ndash;<p>description</p>&ndash;&gt;-->
      <!--&lt;!&ndash;<p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>&ndash;&gt;-->
      <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--</div>-->

  </div>
</div>